# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Generated model files and data
iframe_figures/

# Folders starting with run_
run_*/**

# Everything in raw_data
raw_data/**
other_stuff/**

# VS Code files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other files
*.drawio
*.log
*.pdf

.github/
