# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Generated model files and data
baseline_models/
ga_models/
iframe_figures/

# Generated CSV files (except source data)
raw_data/engineered_features.csv
raw_data/EURUSD_H1_features.csv

# VS Code files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other files
*.drawio
*.log
*.pdf
